<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
	<center>
		<div class="list-group">
			<div class="header">
				Warehouse
			</div>
			<a href="" ng-click=mainNav("store") class="list-group-item" style="font-size:20px;">Store</a>
			<a href="" ng-click=mainNav("goods") class="list-group-item" style="font-size:20px;">Commodities</a>
			<a href="" ng-click=mainNav("clients") class="list-group-item" style="font-size:20px;">Customers</a>
			<a href="" ng-click=mainNav("input") class="list-group-item" style="font-size:20px;">Purchase Invoices</a>
			<a href="" ng-click=mainNav("output") class="list-group-item" style="font-size:20px;">Sales Invoices</a>
			<a href="" ng-click=mainNav("config") class="list-group-item" style="font-size:20px;">Configuration</a>
			<a href="" ng-click=mainNav("users") class="list-group-item" style="font-size:20px;">Users</a>
			<a href="" ng-click=mainNav("login") class="list-group-item" style="font-size:20px;">Logout</a>
        </div>
    </center>
</body>
</html>