<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<center>
    <form ng-submit="toLogin()" novalidate name="form">
        <div class="header">Login</div>
		<br><br><br>
        <table class="table table-bordered">
            <tr>
                <td style="width:100%">
            <!--   
                    <input type="text" class="form-control input"
                           readonly style1="width:130px"
                           value="Login">
			-->			   
                    <input type="text" class="form-control input" placeholder="Login"
                           ng-model="name" value={{name}} required
                           ng-change=updateChange(name,"name")
                           name="name">

                    <div ng-if="form.$submitted">
                        <div ng-show="form.name.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:100%">
            <!--   
                    <input type="text" class="form-control input"
                           readonly style1="width:130px"
                           value="Password">
			-->			   
                    <input type="password" class="form-control input" placeholder="Password"
                           ng-model="pass" value={{pass}} required
                           ng-change=updateChange(pass,"pass")
                           name="pass">

                    <div ng-if="form.$submitted">
                        <div ng-show="form.pass.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <div ng-show="error" class="alert alert-danger input" style="margin-bottom:40px">
            Error. Wrong name or password
        </div>
        <input type="submit" class="btn btn-primary button" value="Login">&nbsp
    </form>
</center>
</body>
</html>