<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<center>
    <h2><span class="label label-primary ng-binding">ItemID: {{id}}</span></h2>
    <table class="table table-bordered">
        <tr><td><b>Name</b><input type="text" class="form-control" value={{name}} ng-model="name" ng-change=updateChange(name,"name")></tr></td>
        <tr><td><b>Description</b><input type="text" class="form-control" value={{description}} ng-model="description" ng-change=updateChange(description,"description")></tr></td>
        <tr><td><b>Quantity</b><input readonly type="text" class="form-control" value={{qnt}}></tr></td>
        </table><br>
    <button class="btn btn-primary" ng-click="storeSubmit()">Submit</button>&nbsp
    <button class="btn btn-primary" ng-click="storeDelete()">Delete</button><br><br>
    <button class="btn btn-primary" ng-click="storeEditBack()">Back</button>
</center>
</body>
</html>